<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.FreightMapper">
    <select id="findDefaultFreightById" resultMap="DefaultFreight" parameterType="Integer">
        select * from oomall_default_freight
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findDefaultFreightList" resultMap="DefaultFreightPo">
        select * from oomall_default_freight
        where is_deleted = 0
    </select>

    <select id="findDefaultFreightByPlace" parameterType="String" resultMap="DefaultFreight">
        select * from oomall_default_freight
        where contains(destination,#{place})
    </select>

    <select id="findSpecialFreightById" parameterType="Integer" resultMap="SpecialFreight">
            select * from oomall_special_freight
            where id = #{id} and is_deleted = 0
    </select>

    <insert id="addDefaultFreight" parameterType="DefaultFreightPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_default_freight(destination, first_heavy_price, continue_heavy_price, over10_price, over50_price, over100_price, over300_price, require_days, gmt_create, gmt_modified,is_deleted)
        values (#{destination}, #{firstHeavyPrice}, #{continueHeavyPrice}, #{over10Price}, #{over50Price}, #{over100Price}, #{over300Price},
        #{requireDays}, #{gmtCreate}, #{gmtModified},#{beDeleted})
    </insert>

    <update id="updateDefaultFreight" parameterType="DefaultFreightPo">
        update oomall_default_freight
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} and is_deleted = 0">
            <if test="destination!=null">
                destination = #{destination},
            </if>
            <if test="firstHeavyPrice!=null">
                first_heavy_price = #{firstHeavyPrice},
            </if>
            <if test="continueHeavyPrice!=null">
                continue_heavy_price = #{continueHeavyPrice},
            </if>
            <if test="over10Price!=null">
                over10_price = #{over10Price},
            </if>
            <if test="over50Price!=null">
                over50_price = #{over50Price},
            </if>
            <if test="over100Price!=null">
                over100_price = #{over100Price},
            </if>
            <if test="over300Price!=null">
                over300_price = #{over300Price},
            </if>
            <if test="requireDays!=null">
                require_days = #{requireDays},
            </if>
            <if test="gmtCreate!=null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified!=null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted!=null">
                is_deleted = #{beDeleted},
            </if>
        </trim>
    </update>

    <update id="deleteDefaultFreightById" parameterType="Integer">
        update oomall_default_freight
        set is_deleted = 1
        where id = #{id} and is_deleted = 0
    </update>

    <select id="findDefaultPieceFreightById" resultMap="DefaultPieceFreight" parameterType="Integer">
        select * from oomall_default_piece_freight
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findSpecialFreightList" resultMap="SpecialFreight">
        select * from oomall_special_freight
        where is_deleted = 0
    </select>

    <select id="findDefaultPieceFreightList" resultMap="DefaultPieceFreightPo">
        select * from oomall_default_piece_freight
        where is_deleted = 0
    </select>

    <select id="findIdFromRegion" parameterType="String" resultType="Integer">
        select id from oomall_region
        where name=#{info}
    </select>
    <select id="findIdFromRegion1" resultType="java.lang.Integer">
        select id from oomall_region
        where name=#{info} and pid=#{id}
    </select>

    <insert id="addDefaultPieceFreight" parameterType="DefaultPieceFreightPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_default_piece_freight(destination, unit_rate, gmt_create, gmt_modified,require_days)
        values (#{destination},#{unitRate}, #{gmtCreate}, #{gmtModified},#{requireDays})
    </insert>

    <insert id="addSpecialFreight" parameterType="SpecialFreight" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_special_freight(first_num_piece,first_num_piece_price,continue_num_piece,continue_num_piece_price,gmt_create, gmt_modified,is_deleted)
        values (#{firstNumPiece}, #{firstNumPiecePrice}, #{continueNumPiece}, #{continueNumPiecePrice},#{gmtCreate}, #{gmtModified},#{beDeleted})
    </insert>

    <update id="updateDefaultPieceFreight" parameterType="DefaultPieceFreightPo">
        update oomall_default_piece_freight
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} and is_deleted = 0">
            <if test="destination!=null">
                destination = #{destination},
            </if>
            <if test="unitRate!=null">
                unit_rate = #{unitRate},
            </if>
            <if test="requireDays!=null">
                require_days = #{requireDays},
            </if>
            <if test="gmtCreate!=null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified!=null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted!=null">
                is_deleted = #{beDeleted},
            </if>
        </trim>
    </update>

    <update id="updateSpecialFreight" parameterType="SpecialFreight">
        update oomall_special_freight
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} and is_deleted = 0">
            <if test="firstNumPiece!=null">
                first_num_piece=#{firstNumPiece},
            </if>
            <if test="firstNumPiecePrice!=null">
                first_num_piece_price=#{firstNumPiecePrice},
            </if>
            <if test="continueNumPiece!=null">
                continue_num_piece=#{continueNumPiece},
            </if>
            <if test="continueNumPiecePrice!=null">
                continue_num_piece_price=#{continueNumPiecePrice},
            </if>
            <if test="gmtCreate!=null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified!=null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted!=null">
                is_deleted = #{beDeleted},
            </if>
        </trim>
    </update>

    <update id="deleteDefaultPieceFreightById" parameterType="Integer">
        update oomall_default_piece_freight
        set is_deleted = 1
        where id = #{id} and is_deleted = 0
    </update>

    <update id="deleteSpecialFreight" parameterType="Integer">
        update oomall_special_freight
        set is_deleted = 1
        where id = #{id}  and is_deleted = 0
    </update>

    <resultMap id="DefaultFreight" type="DefaultFreight">
        <id column="id" property="id"/>
        <result column="destination" property="destination"/>
        <result column="first_heavy_price" property="firstHeavyPrice"/>
        <result column="continue_heavy_price" property="continueHeavyPrice"/>
        <result column="over10_price" property="over10Price"/>
        <result column="over50_price" property="over50Price"/>
        <result column="over100_price" property="over100Price"/>
        <result column="over300_price" property="over300Price"/>
        <result column="require_days" property="requireDays"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>

    <resultMap id="DefaultFreightPo" type="DefaultFreightPo">
        <id column="id" property="id"/>
        <result column="destination" property="destination"/>
        <result column="first_heavy_price" property="firstHeavyPrice"/>
        <result column="continue_heavy_price" property="continueHeavyPrice"/>
        <result column="over10_price" property="over10Price"/>
        <result column="over50_price" property="over50Price"/>
        <result column="over100_price" property="over100Price"/>
        <result column="over300_price" property="over300Price"/>
        <result column="require_days" property="requireDays"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>

    <resultMap id="DefaultPieceFreight" type="DefaultPieceFreight">
        <id column="id" property="id"/>
        <result column="destination" property="destination"/>
        <result column="unit_rate" property="unitRate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="require_days" property="requireDays"/>
    </resultMap>

    <resultMap id="DefaultPieceFreightPo" type="DefaultPieceFreightPo">
        <id column="id" property="id"/>
        <result column="destination" property="destination"/>
        <result column="unit_rate" property="unitRate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="require_days" property="requireDays"/>
    </resultMap>

    <resultMap id="SpecialFreight" type="SpecialFreight">
        <id column="id" property="id"/>
        <result column="first_num_piece" property="firstNumPiece"/>
        <result column="first_num_piece_price" property="firstNumPiecePrice"/>
        <result column="continue_num_piece" property="continueNumPiece"/>
        <result column="continue_num_piece_price" property="continueNumPiecePrice"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="require_days" property="requireDays"/>
    </resultMap>

</mapper>