<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.BrandMapper">
    <select id="findBrandById" resultMap="BrandPo" parameterType="Integer">
        select * from oomall_brand
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findBrandList" resultMap="BrandPo">
        select * from oomall_brand
        where is_deleted = 0
    </select>

    <select id="findBrandListByIdAndName" resultMap="BrandPo" parameterType="String">
        select * from oomall_brand
        <where>
            <if test="id!=null">
                id = #{id} and
            </if>
            <if test="name!=null">
                name = #{name} and
            </if>
            is_deleted = 0
        </where>
    </select>

    <insert id="addBrand" parameterType="BrandPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_brand(name, description, pic_url, gmt_create, gmt_modified, is_deleted)
        values (#{name}, #{description}, #{picUrl}, #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateBrand" parameterType="BrandPo">
        update oomall_brand
        set name = #{name},
            description = #{description},
            pic_url = #{picUrl},
            gmt_create = #{gmtCreate},
            gmt_modified = #{gmtModified},
            is_deleted = #{beDeleted}
        where id = #{id} and is_deleted = 0
    </update>

    <update id="deleteBrand">
        update oomall_brand
        set is_deleted = 1,
        gmt_modified = #{deleteTime}
        where id = #{id} and is_deleted = 0
    </update>

    <resultMap id="BrandPo" type="BrandPo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="pic_url" property="picUrl"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>


</mapper>