<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.BrandMapper">
    <select id="findBrandById" resultType="Brand" parameterType="Integer">
        select * from oomall_brand
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findBrandList" resultType="Brand">
        select * from oomall_brand
        where is_deleted = 0
    </select>

    <select id="findBrandListByIdAndName" resultType="Brand" parameterType="String">
        select * from oomall_brand
        where cast(id as char) like concat('%', #{id}, '%')
        and name like concat('%', #{name}, '%')
        and is_deleted = 0
    </select>

    <insert id="addBrand" parameterType="BrandPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_brand(name, description, pic_url, gmt_create, gmt_modified, is_deleted)
        values (#{name}, #{description}, #{picUrl}, #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateBrand" parameterType="BrandPo">
        update oomall_brand
        set name = #{name},
            description = #{description},
            pic_url = #{picUrl},
            gmt_create = #{gmtCreate},
            gmt_modified = #{gmtModified},
            is_deleted = #{beDeleted}
        where id = #{id}
    </update>

    <update id="deleteBrandById" parameterType="Integer,LocalDateTime">
        update oomall_brand
        set is_deleted = 1,
        gmt_modified = #{deleteTime}
        where id = #{id}
    </update>

</mapper>