<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.GoodsMapper">
    <select id="findGoodsById" resultType="goods" parameterType="Integer">
        select * from goods
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findGoodsListByGoodsSnAndName" resultType="goods" parameterType="String">
        select * from goods
        where
        <if test="goodsSn != null">
            goods_sn like concat('%', #{goodsSn}, '%') and
        </if>
        <if test="name != null">
            name like concat('%', #{name}, '%') and
        </if>
        is_deleted = 0
    </select>

    <select id="getGoodsCount" resultType="Integer">
        select count(id) from goods
        where status = 1
        and is_deleted = 0
    </select>

    <insert id="addGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
        insert into goods(
            gmt_create,
            gmt_modified,
            name,
            goods_sn,
            short_name,
            description,
            brief,
            pic_url,
            detail,
            status,
            share_url,
            gallery,
            goods_category_id,
            brand_id,
            is_deleted,
            weight,
            volume,
            special_freight_id,
            is_special,
            price)
        values (
            #{gmtCreate},
            #{gmtModified},
            #{name},
            #{goodsSn},
            #{shortName},
            #{description},
            #{brief},
            #{picUrl},
            #{detail},
            #{statusCode},
            #{shareUrl},
            #{gallery}
            #{goodsCategoryId},
            #{brandId},
            #{beDeleted},
            #{weight},
            #{volume},
            #{specialFreightId},
            #{beSpecial},
            #{price})
    </insert>

    <update id="updateGoods" parameterType="goods">
        update goods
        set gmt_create = #{gmtCreate},
            gmt_modified = #{gmtModified},
            name = #{name},
            goods_sn = #{goodsSn},
            short_name = #{shortName},
            description = #{description},
            brief = #{brief},
            pic_url = #{picUrl},
            detail = #{detail},
            status = #{statusCode},
            share_url = #{shareUrl},
            gallery = #{gallery},
            goods_category_id = #{goodsCategoryId},
            brand_id = #{brandId},
            is_deleted = #{beDeleted},
            weight = #{weight},
            volume = #{volume},
            special_freight_id = #{specialFreightId},
            is_special = #{beSpecial},
            price = #{price}
        where id = #{id}
    </update>

    <update id="deleteGoodsById" parameterType="Integer">
        update goods
        set is_deleted = 1
        where id = #{id}
    </update>

</mapper>