<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.GoodsMapper">
    <select id="adminFindGoodsById" resultMap="GoodsPo" parameterType="Integer">
        select * from oomall_goods
        where id = #{id} and is_deleted = 0
    </select>

    <select id="userFindGoodsById" resultMap="GoodsPo" parameterType="Integer">
        select * from oomall_goods
        where id = #{id} and is_deleted = 0 and status = 1
    </select>

    <select id="adminFindGoodsList" resultMap="GoodsPo" parameterType="String">
        select * from oomall_goods
        <where>
            <if test="goodsSn != null">
            goods_sn = #{goodsSn} and
            </if>
            <if test="name != null">
            name = #{name} and
            </if>
            is_deleted = 0
        </where>
    </select>

    <select id="userFindGoodsList" resultMap="GoodsPo" parameterType="String">
        select * from oomall_goods
        where name = #{name} and is_deleted = 0
    </select>

    <insert id="addGoods" parameterType="GoodsPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_goods(
            name, goods_sn, short_name, description, brief,
            pic_url, detail, status, share_url, gallery,
            goods_category_id, brand_id, weight, volume,
            special_freight_id, is_special, price,
            gmt_create, gmt_modified, is_deleted)
        values (
            #{name}, #{goodsSn}, #{shortName}, #{description}, #{brief},
            #{picUrl}, #{detail}, #{statusCode}, #{shareUrl}, #{gallery},
            #{goodsCategoryId}, #{brandId}, #{weight}, #{volume},
            #{specialFreightId}, #{beSpecial}, #{price},
            #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateGoods" parameterType="goodsPo">
        update oomall_goods
        set name = #{name},
            goods_sn = #{goodsSn},
            short_name = #{shortName},
            description = #{description},
            brief = #{brief},
            pic_url = #{picUrl},
            detail = #{detail},
            status = #{statusCode},
            share_url = #{shareUrl},
            gallery = #{gallery},
            goods_category_id = #{goodsCategoryId},
            brand_id = #{brandId},
            weight = #{weight},
            volume = #{volume},
            special_freight_id = #{specialFreightId},
            is_special = #{beSpecial},
            price = #{price},
            gmt_create = #{gmtCreate},
            gmt_modified = #{gmtModified},
            is_deleted = #{beDeleted}
        where id = #{id} and is_deleted = 0
    </update>

    <update id="deleteGoods" parameterType="Integer">
        update oomall_goods
        set is_deleted = 1
        where id = #{id} and is_deleted = 0
    </update>

    <resultMap id="GoodsPo" type="GoodsPo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="short_name" property="shortName"/>
        <result column="description" property="description"/>
        <result column="brief" property="brief"/>
        <result column="pic_url" property="picUrl"/>
        <result column="detail" property="detail"/>
        <result column="status" property="statusCode"/>
        <result column="share_url" property="shareUrl"/>
        <result column="gallery" property="gallery"/>
        <result column="goods_category_id" property="goodsCategoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="weight" property="weight"/>
        <result column="volume" property="volume"/>
        <result column="special_freight_id" property="specialFreightId"/>
        <result column="is_special" property="beSpecial"/>
        <result column="price" property="price"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>

</mapper>