<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.ProductMapper">

    <select id="findProductById" resultMap="ProductPo" parameterType="Integer">
        select * from oomall_product where id = #{id}
    </select>

    <select id="findProductListByGoodsId" resultMap="ProductPo">
        select * from oomall_product
        where goods_id like #{goodsId}
    </select>

    <insert id="addProduct" parameterType="ProductPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_product(pic_Url, specifications, goods_id, price, safety_stock, gmt_create, gmt_modified, is_deleted)
        values ( #{picUrl}, #{specifications}, #{goodsId}, #{price}, #{safetyStock}, #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateProduct" parameterType="ProductPo">
        update oomall_product
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} and is_deleted = 0">
            <if test="picUrl!=null">
                pic_url = #{picUrl},
            </if>
            <if test="specifications!=null">
                specifications = #{specifications},
            </if>
            <if test="goodsId!=null">
                goods_id = #{goodsId},
            </if>
            <if test="price!=null">
                price = #{price},
            </if>
            <if test="safetyStock!=null">
                safety_stock = #{safetyStock},
            </if>
            <if test="gmtCreate!=null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted!=null">
                is_deleted = #{beDeleted},
            </if>
        </trim>
    </update>

    <update id="deleteProduct">
        update oomall_product
        set is_deleted = 1,
            gmt_modified = #{deleteTime}
        where id = #{id} and is_deleted = 0
    </update>

    <update id="deleteProductByGoodsId">
        update oomall_product
        set is_deleted = 1,
            gmt_modified = #{deleteTime}
        where goods_id = #{goodsId} and is_deleted = 0
    </update>

    <update id="updateStock">
        update oomall_product
        set safety_stock = safety_stock - #{number},
            gmt_modified = #{updateTime}
        where id = #{id} and is_deleted = 0
    </update>

    <resultMap id="ProductPo" type="ProductPo">
        <id column="id" property="id"/>
        <result column="pic_url" property="picUrl"/>
        <result column="specifications" property="specifications"/>
        <result column="goods_id" property="goodsId"/>
        <result column="price" property="price"/>
        <result column="safety_stock" property="safetyStock"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>
</mapper>