<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.ProductMapper">

    <select id="findProductById" resultType="product" parameterType="Integer">
        select * from product where id = #{id}
    </select>

    <select id="findProductList" resultType="product" >
        select * from product
        where product_ids like #{productIds}
        and goods_id like #{goodsId}
    </select>

    <insert id="addProduct" parameterType="product" useGeneratedKeys="true" keyProperty="id">
        insert into product(product_ids, pic_Url, specifications, goods_id, price, safety_stock, gmt_create, gmt_modified, is_deleted)
        values (#{productIds}, #{picUrl}, #{specifications}, #{goodsId}, #{price}, #{saftyStock}, #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateProduct" parameterType="product">
        update product
        set product_ids = #{productIds},
            pic_url = #{picUrl},
            specifications = #{specifications},
            goods_id = #{goodsId},
            price = #{price},
            safety_stock = #{saftyStock},
            gmt_create = #{gmtCreate},
            gmt_modified = #{gmtModified},
            is_deleted = #{beDeleted}
        where id = #{id}
    </update>

    <delete id="deleteProductById" parameterType="Integer">
        delete from product
        where id = #{id}
    </delete>
</mapper>