<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.AddressMapper">
    <select id="findAddressById" resultType="Address" parameterType="Integer">
        select * from oomall_address
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findAddressList" resultType="Address">
        select * from oomall_address
        where is_deleted = 0
    </select>

    <select id="findAddressListByUserId" resultType="Address" parameterType="Integer">
        select * from oomall_address
        where user_id = #{userId} and is_deleted = 0
    </select>

    <select id="findAddressListByUserIdAndConsignee" resultType="Address" parameterType="Integer,String">
        select * from oomal_address
        where user_id= #{userId} and consignee= #{Consignee} and is_deleted=0
    </select>

    <insert id="addAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_address(user_id, city_id, province_id, county_id, address_detail, postal_code, consignee, mobile, is_default, gmt_create, gmt_modified, is_deleted)
        values (#{userId}, #{cityId}, #{provinceId}, #{countyId}, #{addressDetail}, #{postalCode}, #{consignee}, #{mobile}, #{beDefault}, #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateAddress" parameterType="Address">
        update oomall_address
        set user_id = #{userId},
        city_id = #{cityId},
        province_id = #{provinceId},
        county_id =#{countyId},
        address_detail = #{addressDetail},
        postal_code = #{postalCode},
        consignee = #{consignee},
        mobile = #{mobile},
        is_default = #{beDefault},
        gmt_create = #{gmtCreate},
        gmt_modified = #{gmtModified},
        is_deleted = #{beDeleted}
        where id = #{id}
    </update>

    <update id="deleteAddressById" parameterType="Integer">
        update oomall_address
        set is_deleted = 1
        where id = #{id}
    </update>
</mapper>