<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.AddressMapper">

    <select id="findAddressById" resultMap="Address" parameterType="Integer">
        select * from oomall_address
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findAddressListByUserId" resultMap="Address" parameterType="Integer">
        select * from oomall_address
        where user_id = #{userId} and is_deleted = 0
    </select>

    <select id="findAddressListByUserIdAndConsignee" resultMap="Address">
        select * from oomall_address
        <where>
            <if test="userId !=null">
                `user_id`=#{userId} and
            </if>
            <if test="consignee !=null">
                `consignee` like CONCAT('%',#{consignee},'%') and
            </if>
            is_deleted=0
        </where>
    </select>

    <insert id="addAddress" parameterType="AddressPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_address(user_id, city_id, province_id, county_id, address_detail, postal_code, consignee, mobile, is_default, gmt_create, gmt_modified, is_deleted)
        values (#{userId}, #{cityId}, #{provinceId}, #{countyId}, #{addressDetail}, #{postalCode}, #{consignee}, #{mobile}, #{beDefault}, #{gmtCreate}, #{gmtModified}, #{beDeleted})
    </insert>

    <update id="updateAddress" parameterType="AddressPo">
        update oomall_address
        set user_id = #{userId},
        city_id = #{cityId},
        province_id = #{provinceId},
        county_id =#{countyId},
        address_detail = #{addressDetail},
        postal_code = #{postalCode},
        consignee = #{consignee},
        mobile = #{mobile},
        is_default = #{beDefault},
        gmt_create = #{gmtCreate},
        gmt_modified = #{gmtModified},
        is_deleted = #{beDeleted}
        where id = #{id}
    </update>

    <update id="deleteAddress">
        update oomall_address
        set is_deleted = 1,
        gmt_modified = #{deleteTime}
        where id = #{id}
    </update>

    <resultMap id="Address" type="Address">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="city_id" property="cityId"/>
        <result column="province_id" property="provinceId"/>
        <result column="county_id" property="countyId"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="postal_code" property="postalCode"/>
        <result column="consignee" property="consignee"/>
        <result column="mobile" property="mobile"/>
        <result column="is_default" property="beDefault"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>

    <resultMap id="AddressPo" type="AddressPo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="city_id" property="cityId"/>
        <result column="province_id" property="provinceId"/>
        <result column="county_id" property="countyId"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="postal_code" property="postalCode"/>
        <result column="consignee" property="consignee"/>
        <result column="mobile" property="mobile"/>
        <result column="is_default" property="beDefault"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
    </resultMap>

</mapper>